.posts__wrapper{
	width: 100%;
	float: left;
	margin: 60px 0 50px;
}
.post__block{
	width: 100%;
	float: left;
	border: 1px solid #EBEBEB;
	margin-bottom: 30px;
	&:hover{
	    box-shadow: 0 5px 10px rgba(0,0,0,.13);
	    span.link{
	    	color: #E2110B;
	    }
	}
	.thumbnail{
		width: 100%;
		height: 230px;
		background-position: center;
		background-size: cover;
		margin-bottom: 30px;
	}
	.details{
		width: 100%;
		float: left;
		padding: 0 25px 30px;
		.date{
			width: 100%;
			float: left;
			color: #b7b7b7;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 10px;
		}
		h5{
			width: 100%;
			float: left;
			color: #1C1C1C;
			margin-bottom: 15px;
		}
		p{
			width: 100%;
			float: left;
			margin-bottom: 40px;
		}
		span.link{
			font-weight: 700;
			&:hover{
				text-decoration: underline;
				color: #E2110B;
			}
			// text-transform: uppercase;
		}
	}
}
.post__content{
	width: 100%;
	float: left;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 30px;
		img{
			margin-bottom: 30px;
		}
		h2{
			margin-bottom: 10px;
		}
	}
	.date{
		width: 100%;
		float: left;
		color: #b7b7b7;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;
	}
	.text{
		width: 100%;
		float: left;
		p{
			margin-bottom: 30px;
		}
		blockquote{
			width: 100%;
			padding: 40px 45px 40px 80px;
		    box-shadow: 0 5px 10px rgba(0,0,0,.13);
		    margin: 30px 0 50px;
		    position: relative;
		    &::before{
		    	content: '"';
		    	position: absolute;
		    	top: 5px;
		    	left: 13px;
		    	font-size: 72px;
		    	font-style: italic;
		    }
		    p{
		    	font-size: 24px;
		    	font-style: italic;
		    	line-height: 32px;
		    	margin-bottom: 0;
		    }
		}
	}
}
@include media-breakpoint-down(xs){
	.post__content .text blockquote p{
		font-size: 20px;
		line-height: 26px;
	}
}