.page__banner{
    width: 100%;
    float: left;
    overflow: hidden;
    // background-repeat: repeat;
    // background-image: url(../images/category_mask_1.png);
    // background-size: cover;
    // background-position: top center;
    position: relative;

    img{
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 1;
    }
    h1{
        position: absolute;
        width: 100%;
        float: left;
        top: 50%;
        left: 0;
        z-index: 2;
        margin-bottom: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        color: $product_title;
        span{
            color: $red_font;
        }
    }
}
.products__wrapper{
    width: 100%;
    float: left;
    padding: 0 40px;
    margin: 11px 0 90px;
}
.sorting{
    display: flex;
    flex-flow: wrap;
    align-items: center;

    a{
        &:hover{
            text-decoration: none;
            opacity: 0.7;
        }
        i{
            width: 8px;
            height: 11px;
            display: block;
            float: left;
            margin: 9px 7px 0 0;
        }
        span{
            line-height: 31px;
            font-size: 18px;
            color: $product_title;
        }
        &.cheaper{
            i{
                background-image: url(../images/cheaper.svg);
            }
        }
        &.expensivest{
            i{
                background-image: url(../images/expensivest.svg);
            }
        }
    }

    .catalog-filter-widget{
        .widget-title{
            display: none;
        }

        form{
            & > span{
                min-width: 200px;

                @media (max-width: 767px) {
                    width: 100% !important;
                }
            }
        }

        @media (max-width: 767px) {
            width: 100%;

            &:last-child{
                margin-bottom: 0 !important;
            }
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.products__navigation{
    .category__navigation{
        width: 100%;
        float: left;
        text-align: center;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 30px;
                a{
                    line-height: normal;
                    font-size: 22px;
                    text-align: center;
                    color: $grey_font;
                    font-weight: 400;
                    &.active,
                    &:hover{
                        color: $product_title;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.products__pagination{
    width: 100%;
    float: left;
    text-align: center;
    margin: 50px 0 30px;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: inline-block;
            margin: 0 3px;
            span{
                width: 27px;
                height: 27px;
                display: block;
                background: #E2110B;
                border: 1px solid #E2110B;
                box-sizing: border-box;
                border-radius: 3px;
                font-size: 14px;
                color: #fff;
                line-height: 26px;
                text-decoration: none;
            }
            a{
                width: 27px;
                height: 27px;
                display: block;
                background: #FFFFFF;
                border: 1px solid #fff;
                box-sizing: border-box;
                border-radius: 3px;
                font-size: 14px;
                color: #707070;
                line-height: 26px;
                position: relative;
                &:hover{
                    border-color: #E2110B;
                    background-color: #fff;
                    text-decoration: none;
                    color: #1C1C1C;
                }
                &.prev{
                    color: transparent!important;
                    border-color: #EBEBEB;
                    &:hover{
                        border-color: #E2110B;
                    }
                    &::before{
                        content: '';
                        width: 6px;
                        height: 9px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -4.5px 0 0 -4px;
                        background-image: url(../images/next_arrow.svg);
                        -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                    }
                }
                &.next{
                    color: transparent!important;
                    border-color: #EBEBEB;
                    &:hover{
                        border-color: #E2110B;
                    }
                    &::before{
                        content: '';
                        width: 6px;
                        height: 9px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -4.5px 0 0 -2px;
                        background-image: url(../images/next_arrow.svg);
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xl){
    .products__navigation .category__navigation ul li{
        margin: 0 15px;
    }
}
@include media-breakpoint-down(lg){
    .products__navigation {
        .sorting{
            position: static;
            margin: 0 0 15px 0;
            width: 100%;
            float: left;
        }
        .category__navigation {
            width: 100%;
            ul li{
                margin: 0 10px;
            }
        }
    }
}
@include media-breakpoint-down(md){
    .products__navigation {
        .category__navigation {
            width: 100%;
            ul li{
                margin: 5px 10px;
                a{
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
    .page__banner {
        height: 85px;
        img{
            height: 85px;
            width: auto;
            max-width: inherit;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 2;
            margin-bottom: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);

            @media (max-width: 576px) {
                width: 100%;
                object-fit: cover;
            }
        }
        h1{
            line-height: 80px;
            position: relative;
        }
    }
    .products__wrapper{
        padding: 0;
    }
}
@include media-breakpoint-down(sm){
    .page__banner{
        h1{
            font-size: 32px;
            line-height: 40px;
        }
    }
}