.woocommerce-checkout{
  ul.order_details{
    margin-bottom: 30px;
    padding-left: 0;
    li{
      margin-bottom: 10px;
    }
  }

  #payment{
    background: transparent;
    border-radius: 0;


    // Radio button styling
    [type="radio"] {
      width: unset;
      height: unset;

      &:checked, &:not(:checked) {
        position: absolute;
        left: -9999px;
      }

      &:checked + label, &:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
      }

      &:checked + label:before, &:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
      }

      &:checked + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #e4330b;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }

      &:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #e4330b;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      &:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    //END radio button styling


    ul.payment_methods{
      padding: 0;
      border: none;

      label{
        margin-bottom: 0;
      }
    }
    div.form-row{
      padding: 20px 0 0;
    }
    .payment_method_cod{
      p{
        font-size: 16px;
      }
    }
  }

  #woo_pp_ec_button_checkout{
    width: 100%;
  }
}

//Stripe payment
.payment_method_stripe{

  & > label{
    img{
      display: none;
    }
  }

  #payment_method_stripe{
    float: left;
    margin-top: 9px !important;
  }

  #stripe-payment-data{
    p{
      &.form-row{
        display: flex;
        align-items: center;
        margin-bottom: 0 !important;
      }

      input{
        height: auto;
      }
    }
  }
}
//END stripe payment

//PayPal payment
.payment_method_ppec_paypal{
  & > label{
    img{
      display: none;
    }
  }
}
//END PayPal payment