footer{
    width: 100%;
    float: left;
    margin-top: 13px;
}
.suscribe__line{
    width: 100%;
    min-height: 150px;
    float: left;
    background-image: url(../images/redcloth_bg-min.jpg);
    padding: 52px 0;
    .yikes-mailchimp-container{
        position: relative;
    }
    .text{
        font-size: 22px;
        color: #FFFFFF;
        float: left;
        margin-top: 7px;
    }
    form{
        width: 100%;
        max-width: 410px;
        float: right;
        position: relative;
        input{
            width: 100%!important;
            height: 46px;
            background: #FFFFFF;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
            border-radius: 38px;
            border: none!important;
            font-size: 18px;
            color: $black_font;
            padding: 0 50px 0 34px!important;
            outline: none;
            &:focus{
                outline: none!important;
            }
        }
        button{
            width: 36px!important;
            height: 36px!important;
            background: #E2110B!important;
            box-shadow: 0px 0px 5px rgba(186, 0, 22, 0.8);
            position: absolute!important;
            border-radius: 50%;
            border: none;
            top: 5px;
            right: 5px!important;
            cursor: pointer;
            outline: none;
            padding: 0!important;
            text-align: center;
            margin: 0!important;
            min-height: 36px!important;
            span{
                width: 24px;
                height: 24px;
                display: block;
                background-image: url(../images/subscribe_arrow.svg);
                margin: 6px auto;
                padding: 0;
                font-size: 0;
                color: transparent;
            }
        }
    }
    span.edit-link {
        width: 100%;
        clear: both;
        display: block;
        text-align: right;
        font-size: 14px;
        a{
            color: #fff;
        }
    }
}
.yikes-easy-mc-success-message{
    width: 100%;
    float: left;
    text-align: center;
    background-color: #fff!important;
    font-size: 14px;
    position: absolute!important;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.contact__line{
    width: 100%;
    float: left;
    background-color: $grey_section;
    padding: 90px 0 105px;
}
.contact__block{
    width: 100%;
    float: left;
    .icon__block{
        float: left;
        margin-right: 16px;
        margin-top: 7px;
    }
    .content__block{
        float: left;
        .title{
            display: block;
            width: 100%;
            float: left;
            line-height: 18px;
            font-size: 14px;
            color: #1C1C1C;
        }
        a{
            line-height: 26px;
            font-size: 18px;
            color: #1C1C1C;
            display: block;
            &:hover{
                color: $red_font;
                text-decoration: none;
            }
        }
    }
}
.social__row{
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    li{
        float: left;
        margin-right: 15px;
    }
}
.soc__icon{
    &.facebook{
        margin-top: 1px;
    }
    &.youtube{
        margin-top: 2px;
    }
    &:hover{
        opacity: 0.7;
    }
}
@include media-breakpoint-down(lg){
    .suscribe__line {
        padding: 25px 0;
        .text{
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
        form{
            float: none;
            margin: 0 auto 15px;
            clear: both;
        }
    }
}
@include media-breakpoint-down(sm){
    .contact__line{
       padding: 50px 0 35px;
    }
    .contact__block{
        margin-bottom: 20px;
    }
}