header{
    width: 100%;
    height: 125px;
    .whishlist__block{
        float: left;
        display: block;
        height: 55px;
        width: 50px;
        text-align: center;
        i{
            line-height: 55px;
            color: #777777;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
        &:hover{
            background-color: #EDEDED;
            i{
                color: #E2110B;
            }
        }
    }
}
.top__navigation{
    width: 100%;
    height: 55px;
    background-color: $grey_section;
}
.mobile__menu{
    width: 31px;
    height: 28px;
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;
    span{
        width: 31px;
        height: 2px;
        display: block;
        background-color: $grey_font;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:nth-child(1){
            top: 3px;
        }
        &:nth-child(2){
            top: 13px;
        }
        &:nth-child(3){
            top: 23px;
        }
    }
    &.show__menu{
        span{
            &:nth-child(1){
                width: 0;
            }
            &:nth-child(2){
                top: 14px;
                -webkit-transform: translateX(-50%) rotate(135deg);
                transform: translateX(-50%) rotate(135deg);
            }
            &:nth-child(3){
                top: 14px;
                -webkit-transform: translateX(-50%) rotate(225deg);
                transform: translateX(-50%) rotate(225deg);
            }
        }
    }
}
.mobile__navigation{
    width: 100%;
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 90;
    border-top: 1px solid #EDEDED;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    &.show__navigation{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .menu__wrapper{
        position: absolute;
        padding: 0;
        float: left;
        overflow: auto;
        top: 30px;
        bottom: 75px;
        right: 15px;
        left: 0;
    }
    .category__menu {
        width: 100%;
        float: left;
        height: auto;
        border-bottom: 1px solid #F0F0F0;
        padding-left: 15px;
        h6{
            font-size: 16px;
            line-height: 32px;
            margin-bottom: 8px;
            position: relative;
            color: #F60F1C;
            &::after{
                content: '';
                width: 14px;
                height: 8px;
                display: block;
                position: absolute;
                right: 0;
                top: 11px;  
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                background-image: url(../images/icon-arrow.svg);
            }
            &.hide__menu::after{
                -webkit-transform: rotate(-180deg);
                        transform: rotate(-180deg);
            }
        }
        nav{
            width: 100%;
            float: left;
            margin-bottom: 15px;
        }
        ul{
            padding: 0;
            margin: 0;
            ul{
                padding: 0 0 0 10px;
            }
        }
        li{
            width: 100%;
            float: left;
            display: block;
            a{
                font-size: 16px;
                padding: 3px 0 3px 28px;
            }
        }
    }
    .additional__menu{
        width: 100%;
        float: left;
        margin-left: 0;
        margin-top: 20px;
        padding-left: 15px;
        li{
            width: 100%;
            margin-bottom: 8px;
            a{
                line-height: 32px;
                font-size: 16px;
                padding: 1px 0;
            }
        }
    }
    .login__block {
        width: 100%;
        float: left;
        margin: 0 0 15px;
        padding-left: 15px;
        a{
            padding: 5px 0;
            &:hover{
                background-color: transparent;
                color: $red_font;
            }
        }
    }
    .additional__bar{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding: 15px;
        left: 0;
        border-top: 1px solid #EDEDED;
    }
    .switcher{
        width: auto;
        height: auto;
        background-color: transparent;
        ul{
            width: auto;
            position: static;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
            li{
                width: auto;
                height: auto;
                display: block;
                background-color: transparent;
                &.active{
                    a{
                        color: $red_font;
                    }
                }
                a{
                    padding: 5px 8px;
                    line-height: normal;
                    text-transform: uppercase;
                    img{
                        display: none;
                    }
                }
            }
        }
    }
    .currency{
        float: left;
    }
    .language{
        float: right;
    }
}
.additional__menu{
    float: left;
    margin-left: -15px;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li{
        float: left;
        &.current-menu-item{
            a{
                color: $black_font;
            }
        }
        a{
            float: left;
            padding: 15.5px 10px;
            line-height: 24px;
            font-size: 14px;
            color: $grey_font;
            &:hover{
                color: $black_font;
            }
        }
    }
}
.category__menu{
    height: 70px;
    float: left;
    text-align: left;
    position: relative;
    &:hover{
        .menu{
            .icon span:nth-child(2){
                right: 5px;
                -webkit-transform: rotate(30deg);
                        transform: rotate(30deg);
            }
            .name{
                color: #E2110B;
            }
        }
        .categories__nav{
            opacity: 1;
            visibility: visible;
            top: 70px;
        }
    }
    .menu{
        float: left;
        cursor: pointer;
        position: relative;
        .icon{
            position: absolute;
            height: 40px;
            width: 40px;
            display: block;
            top: 15px;
            left: 0;
            span{
                position: absolute;
                width: 11px;
                height: 11px;
                display: block;
                border: 2px solid #E2110B;
                border-radius: 2px;
                -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                &:nth-child(1){
                    top: 7px; 
                    left: 7px;
                }
                &:nth-child(2){
                    top: 7px; 
                    right: 7px;
                }
                &:nth-child(3){
                    bottom: 7px; 
                    left: 7px;
                }
                &:nth-child(4){
                    bottom: 7px; 
                    right: 7px;
                }
            }
        }
        .name{
            font-size: 16px;
            // font-weight: 600;
            line-height: 70px;
            padding-left: 50px;
            -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
        }
    }
    .categories__nav{
        width: 1110px;
        background-color: #fff;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 90px;
        z-index: 11;
        padding: 11px 16px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
        nav{
            width: 269px;
            float: left;
            padding-right: 9px;
            >ul{
                width: 100%;
                float: left;
                padding: 0;
                margin: 0;
                list-style: none;
                ul{
                    width: 100%;
                    float: left;
                    padding: 0 0 0 44px;
                    list-style: none;
                    margin: 0;
                    li{
                        a{
                            font-size: 14px;
                            padding: 3px 0;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    
    li{
        width: 100%;
        float: left;
        display: block;
        margin-bottom: 6px;
        &.current-menu-item{
            >a{
                color: $red_font;
            }
        }
        a{
            width: 100%;
            float: left;
            display: block;
            line-height: normal;
            font-size: 16px;
            line-height: 24px;
            color: $black_font;
            float: left;
            padding: 5px 0 5px 28px;
            position: relative;
            &:hover{
                text-decoration: none;
                color: $red_font;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 20px;
                height: 20px;
                background-position: center;
                background-size: cover;
            }
        }
    }
}
.logo__block{
    width: 126px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -63px;
    z-index: 1;

    @media (max-width: 576px) {
        width: 110px;
    }
}
.information__block{
    float: right;
}
.switcher{
    float: left;
    position: relative;
    cursor: pointer;
    background-color: #EDEDED;
    height: 55px;
    .current{
        padding: 14px 15px 17px;
        span{
            border-bottom: 1px dashed $grey_font;
            line-height: 20px;
            color: $grey_font;
            font-size: 14px;
            text-transform: capitalize;
        }
        img{
            margin-right: 2px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
        }
    }
    &.currency{
        .current{
            padding: 14px 10px 17px 15px;
        }
    }
    &.language{
        .current{
            padding: 14px 15px 17px 10px;
        }
    }
    ul{
        width: 100%;
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: 100%;
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 100;
        li{
            width: 100%;
            height: 35px;
            background-color: #EDEDED;
            float: left;
            text-align: center;
            a{
                line-height: 35px;
                color: $grey_font;
                font-size: 14px;
                display: block;
                width: 100%;
                text-transform: capitalize;
                &:hover{
                    background-color: #d4d4d4;
                    text-decoration: none;
                }
            }
            img{
                margin-right: 5px;
                margin-top: -2px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
            }
        }
    }
    &:hover ul{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}
.login__block{
    float: left;
    a{
        color: $grey_font;
        font-size: 14px;
        display: block;
        padding: 17px 20px 17px 20px;
        &:hover{
            background-color: #EDEDED;
            text-decoration: none;
        }
        img{
            margin-right: 3px;
        }
    }
}
.cart__block{
    float: left;
    position: relative;
    &:hover .cart__dropdown{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .cart__btn{
        color: $black_font;
        font-size: 14px;
        display: block;
        padding: 15.5px 20px;
        cursor: pointer;
        &:hover{
            background-color: #EDEDED;
            text-decoration: none;
        }
        img{
            margin-right: 9px;
        }
    }
    .cart__dropdown{
        width: 330px;
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
        position: absolute;
        top: 100%;
        right: 0;
        padding-bottom: 40px;
        z-index: 10;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        border-top: 2px solid $red_font;
        &::before{
            content: '';
            width: 10px;
            height: 8px;
            display: block;
            position: absolute;
            border-style: solid;
            border-width: 0 5px 8px 5px;
            border-color: transparent transparent #E2110B transparent;
            top: -8px;
            right: 57px;
        }
        ul{
            width: 100%;
            float: left;
            padding: 20px 25px;
            margin: 0;
            list-style: none;
            background-color: #fff;
            li{
                width: 100%;
                float: left;
                padding: 13px 0;
                .product__name{
                    width: 145px;
                    float: left;
                    h6{
                        line-height: 14px;
                        font-size: 14px;
                        color: #707070;
                        margin-bottom: 0;
                    }
                    &.empty{
                        width: 100%;
                        text-align: center;
                    }
                }
                .product__amount,
                .product__price{
                    float: left;
                    margin-left: 20px;
                    font-size: 14px;
                    text-align: right;
                    color: #1C1C1C;
                }
            }
        }

        .go__to__cart{
            width: 100%;
            height: 40px;
            background-color: $red_font;
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            line-height: 40px;
            font-size: 14px;
            text-align: center;
            padding: 0;
            &:hover{
                background-color: #b90601;
                text-decoration: none;
            }
        }
    }
}
.search__block{
    width: 100%;
    float: left;
    position: relative;
    margin-top: 12px;
    form{
        width: 100%;
        float: left;
        position: relative;
        label{
            width: 100%;
            float: left;
            margin: 0;
            display: block;
        }
        input[type="search"]{
            width: 100%;
            float: left;
            height: 46px;
            background: #FFFFFF;
            border: 2px solid #EBEBEB;
            border-radius: 38px;
            font-size: 18px;
            color: $black_font;
            padding: 0 50px 0 34px;
            outline: none;
        }
        button{
            width: 36px;
            height: 36px;
            background: #E2110B;
            box-shadow: 0 0 5px rgb(111, 111, 111);
            position: absolute;
            border-radius: 50%;
            border: none;
            top: 5px;
            right: 5px;
            cursor: pointer;
            outline: none;
            padding: 0;
            text-align: center;
            margin: 0;
            min-height: 36px;
            span{
                width: 24px;
                height: 24px;
                display: block;
                background-image: url(../images/search.svg);
                margin: 6px auto;
                padding: 0;
                font-size: 0;
                color: transparent;
            }
        }
    }
}
@include media-breakpoint-down(lg){
    .additional__menu li a{
        padding: 15.5px 5px;
    }
    .category__menu .categories__nav{
        width: 930px;
        nav{
            width: 224px;
        }
    }
}
@include media-breakpoint-down(md){
    header{
        height: 55px;
        box-shadow: 0px 1px 4px #dfdfdf;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .top__navigation{
        background-color: #fff;
        position: relative;
        z-index: 100;
    }
    .cart__block{
        background-color: #EDEDED;
        a{
            padding: 15.5px 12px;
            img{
                margin-right: 4px;
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .cart__block{
        background-color: #EDEDED;
        a{
            padding: 15.5px 17px;
            span{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 576px){
    .cart__block .cart__btn{
        img{
            margin-right: 0;
        }
        span{
            display: none;
        }
    }
}