.product__image{
    width: 100%;
    max-width: 750px;
    height: 600px;
    float: left;
    margin-right: 36px;
    .slick-vertical .slick-slide{
        border: none;
    }
    .big__slider{
        width: 100%;
        max-width: 570px;
        height: 600px;
        float: left;
        margin-right: 20px;
        .slide{
            .image{
                width: 100%;
                max-width: 570px;
                height: 600px;
                position: relative;
                background-color: $grey_section;
                overflow: hidden;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .small__slider{
        width: 100%;
        max-width: 160px;
        float: left;
        margin: -10px 0;
        .slide{
            &.slick-current{
                .image{
                    border: 2px solid #E1E1E1;
                }
            }
            .image{
                width: 100%;
                max-width: 160px;
                height: 185px;
                margin: 11px 0;
                position: relative;
                background-color: $grey_section;
                cursor: pointer;
                border: 2px solid $grey_section;
                overflow: hidden;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
.social__menu{
    width: 38px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: -45px;
    cursor: pointer;
    z-index: 10;
    .icon{
        width: 35px;
        height: 36px;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/social_icon.svg);
    }
    &:hover{
        .social__links{
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
    .social__links{
        width: 38px;
        height: auto;
        border-radius: 47px;
        background: #FFFFFF;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.14);
        border-radius: 47px;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 8px 0;
        margin: 0;
        list-style: none;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        opacity: 0;
        visibility: hidden;
        li{
            width: 100%;
            float: left;
            margin: 7.5px 0;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            &:hover{
                opacity: 0.7;
            }
            span{
                display: block;
                margin: auto;
                &.facebook{
                    width: 18px;
                    height: 18px;
                    background-image: url(../images/facebook_link.svg);
                }
                &.googleplus{
                    width: 20px;
                    height: 20px;
                    background-image: url(../images/google_link.svg);
                }
                &.twitter{
                    width: 20px;
                    height: 16.36px;
                    background-image: url(../images/twitter_link.svg);
                }
            }
        }
    }
}
.to__constructor{
    width: 143px;
    height: 46px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 47px;
    line-height: 16px;
    font-size: 14px;
    color: $grey_font;
    text-align: center;
    line-height: 44px;
    margin: -12px 0 0 30px;
    img{
        margin-right: 5px;
    }
    &:hover{
        text-decoration: none;
        color: $grey_font;
        background: #EBEBEB;
        box-shadow: 0 0 5px #EBEBEB;
    }
}
.product__information{
    width: 100%;
    max-width: 640px;
    float: left;
    position: relative;
    .title__row{
        clear: both;
        display: inline-block;
        position: relative;
        width: 100%;
        padding-right: 130px;
    }
    .status{
        min-width: 100px;
        display: block;
        font-size: 14px;
        padding: 5px 10px 4px 15px;
        color: #fff;
        position: absolute;
        top: 17px;
        right: 15px;
        /*-webkit-transform: translateX(100%);
        transform: translateX(100%);*/
        &::before{
            content: '';
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            top: 0;
            right: -10px;
        }
        &.on__stock{
            background-color: #27AE60;
            &::before{
                border-top: 15px solid transparent;
                border-left: 10px solid #27AE60;
                border-bottom: 15px solid transparent;
            }
        }
        &.out__stock{
            background-color: #707070;
            &::before{
                border-top: 15px solid transparent;
                border-left: 10px solid #707070;
                border-bottom: 15px solid transparent;
            }
        }
    }
    h2{
        line-height: 42px;
        font-size: 35px;
        color: $product_title;
        margin-top: 10px;
        margin-bottom: 5px;
        display: inline-block;
    }
    .article{
        line-height: 31px;
        font-size: 18px;
        color: $grey_font;
    }
    .description{
        margin: 13px 0 20px;
    }
    p.stock{
        font-size: 14px!important;
        margin-bottom: 15px;
        color: #707070!important;
    }
    input[type="radio"]{
        display: none;
        & ~ span{
            display: block;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            border: 1px solid $red_font;
            background-color: transparent;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                width: 21px;
                height: 21px;
                display: block;
                position: absolute;
                top: -1px;
                left: -1px;
                background-color: $red_font;
                border-radius: 50%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }
        &:checked ~ span{
            &::before{
                width: 15px;
                height: 15px;
                top: 2px;
                left: 2px;
                border-radius: 50%;
            }
        }
    }
    .amount__block{
        margin-top: 0;
    }
    .color__variation{
        display: inline-block;
        float: left;
        label{
            margin-right: 7px;
            margin-bottom: 0;
            cursor: pointer;
            &.color__1{
                input ~ span{
                    border-color: #2D9CDB;
                    &::before{
                        background-color: #2D9CDB;
                    }
                }
            }
            &.color__2{
                input ~ span{
                    border-color: #EB5757;
                    &::before{
                        background-color: #EB5757;
                    }
                }
            }
            &.color__3{
                input ~ span{
                    border-color: #DEDEDE;
                    &::before{
                        background-color: #fff;
                    }
                }
            }
            &.color__4{
                input ~ span{
                    border-color: #27AE60;
                    &::before{
                        background-color: #27AE60;
                    }
                }
            }
        }
    }
    .select__block{
        display: inline-block;
        max-width: 300px;
        margin: 30px 30px 0 0;
        float: left;
        label{
            width: 100%;
        }
        .selectric-wrapper{
            width: 100%;
            
        }
    }
    p.price{
        width: 100%;
        float: left;
        line-height: 39px;
        font-size: 35px!important;
        color: $product_title!important;
        margin: 20px 0 0 0;
        ins{
            font-weight: 400!important;
            text-decoration: none;
        }
    }
    .reset_variations{
        margin-left: 15px;
    }
    .button__block{
        float: left;
        clear: left;
        margin: 40px 27px 0 0;
        button{
            float: left;
            margin-top: 25px;
        }
    }
}
.single_variation_wrap{
    width: 100%;
    float: left;
    p.price,  
    span.price{
        font-size: 20px!important;
        color: $product_title!important;
    }
    p.stock{
        font-size: 16px!important;
        color: $product_title!important; 
    }
    .woocommerce-variation-availability{
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
}
table.variations{
    width: 100%;
    float: left;
    margin-bottom: 0!important;
    h6{
        margin-bottom: 0;
    }
    tr{
        width: 100%;
        float: left;
        display: block;
        margin-bottom: 25px;
        td{
            width: 100%;
            float: left;
            display: block;
            &.label{
                padding-left: 0;
            }
            label{
                margin-bottom: 0;
            }
            &.value{
                .selectric-wrapper{
                    max-width: 300px;
                }
            }
        }
    }
    .tawcvs-swatches{
        padding: 0;
    }
    .tawcvs-swatches .swatch{
        width: 21px;
        height: 21px;
        line-height: 21px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid #707070;
    }
    .tawcvs-swatches .swatch-color.selected:before{
        top: 4px;
        left: 7px;
    }
    .reset_variations{
        color: $red_font;
        font-size: 13px!important;
    }
    .select2-container{
        width: 100%;
        max-width: 300px;
    }
}
.select2-container:focus,
.selection:focus,
.select2-selection:focus{
    outline-color: transparent!important;
}
.selection{
    .select2-selection{
        width: 100%;
        height: 40px!important;
        border: 1px solid #EBEBEB!important;
        background-color: #fff!important;
        &:focus{

        }
        .select2-selection__rendered{
            line-height: 38px!important;
            font-size: 14px!important;
            color: $grey_font!important;
            background-color: #fff!important;
            padding: 0 45px 0 15px!important;
        }
        .select2-selection__arrow{
            width: 38px!important;
            height: 38px!important;
            background-color: #fff;
            display: block;
            position: absolute!important;
            top: 1px!important;
            right: 1px!important;
            background-image: url(../images/selector_arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #fff;
            z-index: 1;
            border-radius: 4px;
            b{
                display: none!important;
            }
        }
    }
}
.select2-dropdown{
    border: 1px solid #EBEBEB!important;
    .select2-results{
        .select2-results__option{
            line-height: 38px!important;
            font-size: 14px!important;
            color: $grey_font!important;
            padding: 0 15px 0 15px!important;
            &:hover,
            &.select2-results__option--highlighted{
                background-color: $red_font!important;
                color: #fff!important;
            }
        }
    }
}
.amount__block{
    width: 130px;
    margin-top: -23px;
    float: left;
    margin-right: 30px;
    .quantity .qty{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -10;
    }
    .amount__field{
        max-width: 130px;
        width: 100%;
        height: 40px;
        border: 1px solid #EBEBEB;
        position: relative;
        .amount{
            width: 38px;
            height: 38px;
            position: absolute;
            top: 0;
            display: block;
            z-index: 10;
            cursor: pointer;
            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            &:active::before{
                -webkit-transform: scale(0.9) translate(-50%, -50%);
                transform: scale(0.9) translate(-50%, -50%);
            }
            &.plus{
                right: 0;
                &::before{
                    width: 11px;
                    height: 11px;
                    background-image: url(../images/plus.svg);
                }
            }
            &.minus{
                left: 0;
                &::before{
                    width: 11px;
                    height: 3px;
                    background-image: url(../images/minus.svg);
                }
            }
        }
        .number{
            padding: 0 38px;
            line-height: 38px;
            text-align: center;
            font-size: 14px;
            color: $grey_font;
            position: relative;
        }
    }
}
.related__product{
    margin: 120px 0 0;
}
@media screen and (max-width: 1600px){
    .product__image{
        max-width: 650px;
        .big__slider{
            max-width: 470px;
        }
    }
    .product__information{
        max-width: 500px;
    }
}
@media screen and (max-width: 1367px){
    .product__image{
        max-width: 600px;
        .big__slider{
            max-width: 420px;
        }
    }
    .product__information{
        max-width: 350px;
        .select__block{
            margin: 30px 7px 0 0;
        }
    }
}
@include media-breakpoint-down(lg){
    .product__image{
        max-width: 650px;
    }
    .product__information{
        max-width: 500px;
    }
}
@include media-breakpoint-down(sm){
    .product__image{
        max-width: 100%;
        margin-right: 0;
        height: auto;
        .big__slider{
            max-width: 100%;
            width: 100%;
            height: 500px;
            margin-right: 0;
            margin-bottom: 10px;
            .slide{
                .image{
                    max-width: 100%;
                    height: 500px;
                }
            }
        }
        .small__slider{
            max-width: 100%;
            margin: 0 0 10px 0;
            .slide{
                .image{
                    max-width: inherit;
                    width: auto;
                    margin: 0 5px;
                }
            }
        }
    }
    .product__information {
        max-width: 100%;
        .title__row{
            width: 100%;
            padding-right: 120px;
        }
        .status{
            right: 20px;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        p.price{
            padding-right: 50px;
        }
    }
    .social__menu{
        top: inherit;
        bottom: 2px;
        right: 0px;
    }
}
@include media-breakpoint-down(xs){
    .product__image{
        .big__slider{
            height: 400px;
            .slide{
                .image{
                    height: 400px;
                }
            }
        }
    }
    .product__information{
        h2{
            font-size: 30px;
            line-height: 32px;
        }
        p.price{
            font-size: 28px!important;
        }
        button{
            margin-top: 25px;
            clear: both;
        }
    }
}

.post-ratings{
    font-family: 'Circe';
    color: $grey_font;
}