.single-product{
  .woocommerce-Reviews{
    padding-top: 90px;
  }

  .comment-reply-title{
    font-size: 30px;
    margin-top: 30px;
    display: block;
  }

  .comment-form{

    .comment-form-rating{
      label{
        font-size: 18px;
        color: $grey_font;
      }

      span.select2{
       display: none;
      }
    }

    .form-submit{
      text-align: right;

      .submit{
        border: 2px solid #EBEBEB !important;
        border-radius: 38px !important;
        background: transparent !important;
        color: #1C1C1C !important;
        height: 46px;
        padding: 0 36px !important;
        font-weight: 400 !important;
        font-size: 18px !important;

        &:hover{
          background: #EBEBEB !important;
        }
      }
    }

    p:not(.form-submit){
      input, textarea{
        border: 2px solid #EBEBEB;
        border-radius: 8px;
        padding-left: 5px;
        color: $grey_font;
        font-size: 16px;

        &:focus{
          outline: none;
        }
      }
    }

    .comment-form-author{
      display: flex;
      flex-direction: column;
      width: 48%;
      float: left;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .comment-form-email{
      display: flex;
      flex-direction: column;
      width: 48%;
      float: right;

      @media (max-width: 767px) {
        width: 100%;
        float: left;
      }
    }
    .comment-form-cookies-consent{
      display: flex;
      width: 100%;
      align-items: center;

      label{
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
  }

  .comment-text{
    border: 2px solid #EBEBEB !important;
    border-radius: 8px !important;
  }
}