.product__form{
	.whishlist__block{
		margin: 0;
		position: absolute;
		top: 20px;
		right: 15px;
		.add_to_wishlist{
			font-size: 22px;
			line-height: 24px;
			text-decoration: none;
		    color: #707070;
		    &:hover{
	    	    color: #E2110B;
		    }
		    i{
		    	margin: 0;
		    }
		    span{
		    	display: none;
		    }
		}
		.yith-wcwl-wishlistaddedbrowse,
		.yith-wcwl-wishlistexistsbrowse{
			font-size: 0;
			line-height: 0;
			i{
				font-size: 18px;
				line-height: 24px;
			}
			span{
				color: #707070;
			}
			a{
				color: #E2110B;
			}
		}
		.yith-wcwl-add-to-wishlist{
			margin: 0;
		}
	}
}
#yith-wcwl-popup-message{
	width: 100%;
	max-width: 500px;
	font-weight: 400;
	padding: 20px 10px;
	font-size: 18px;
	line-height: 24px;
	margin-left: -250px!important;
}
.product__block{
	.yith-wcwl-add-to-wishlist{
		position: absolute;
		z-index: 1;
		top: 20px;
		left: 20px;
		margin-top: 0;
	}
	.yith-wcwl-add-button{
		a{
			font-size: 20px;
			line-height: 17px;
			display: block;
			span{
				font-size: 0;
				color: transparent;
				display: none;
			}
			i{
				margin-right: 0;
			}
		}
	}
	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse{
		text-align: left;
		span{
			font-size: 0;
			color: transparent;
			i{
				font-size: 20px;
				color: #E2110B;
			}
		}
		a{
			display: none;
		}
	}
}
.woocommerce {
	.wishlist_table{
		a.remove{
		    width: 27px;
		    height: 27px;
		    margin: 0 auto;
		    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
		    display: block;
		    cursor: pointer;
		    font-size: 48px;
		    line-height: 34px;
		    text-align: center;
		    border-radius: 0;
		    font-weight: 400;
		    color: #B8B8B8!important;
		    position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
		    &:hover{
		    	color: #fff!important;
		    }
		}
		tr{
		    width: 100%;
		    height: 200px;
		    display: block;
		    border-radius: 8px;
		    margin: 20px 0;
		    padding: 13px 80px 13px 33px;
		    border: 2px solid #EBEBEB;
			td{
				border: none;
				float: left;
				&.product-remove{
					width: 5%;
					height: 100%;
					position: relative;
					padding: 0;
				}
				&.product-thumbnail {
					width: 20%;
					height: 100%;
					padding: 0 10px;
					position: relative;
					a{
						img{
						    width: 100%;
						    max-width: 150px;
							height: auto;
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%,-50%);
									transform: translate(-50%,-50%);
						}
					}
				}
				&.product-name{
					width: 50%;
					height: 100%;
					padding: 0;
					position: relative;
					a{
						width: 100%;
					    line-height: 32px;
					    font-size: 24px;
					    
				        color: #383838;
				        text-decoration: none;
				        text-align: left;
				        position: absolute;
						top: 50%;
						left: 50%;
						padding: 10px 20px;
						-webkit-transform: translate(-50%,-50%);
								transform: translate(-50%,-50%);
				        &:hover{
				        	color: #E2110B;
				        }
					}
				}
				&.product-price{
					width: 25%;
					height: 100%;
					position: relative;
					.price{
					    width: 100%;
					    position: absolute;
					    text-align: left;
					    top: 50%;
					    left: 50%;
					    -webkit-transform: translate(-50%,-50%);
					    		transform: translate(-50%,-50%);
					    line-height: 30px;
    					font-size: 24px;
    					padding: 10px 20px;
    					color: #383838;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.woocommerce .wishlist_table {
		tr {
			height: auto;
			float: left;
			padding: 20px 25px;
			td{
				&.product-remove{
					width: 100%;
					height: auto;
					margin-bottom: 20px;
					a.remove{
					 	margin: 0;
					 	position: static;
				 	    -webkit-transform: translate(0);
    							transform: translate(0);
					}
				}
				&.product-name{
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					a{
						padding: 0;
						position: static;
				 	    -webkit-transform: translate(0);
    							transform: translate(0);
					}
				}
				&.product-price{
					width: 100%;
					height: auto;
					padding: 0;
					margin-bottom: 20px;
					.price{
						padding: 0;
						position: static;
				 	    -webkit-transform: translate(0);
    							transform: translate(0);
					}
				}
			}
		}
	}
}